# devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# dependencies
.pnpm-store/
node_modules/

# generated
.cache-loader
.docusaurus/
build/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
